.label{
  //padding: 5px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 1px solid #8d8b8b;
}
.textarea{
flex: 1 1 auto;
resize: none;
margin-left: 10px;
}
