.card {
  display: flex;
  flex-direction: column;
  width: 25%;
  background: whitesmoke;
  color: black;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
}
.title {
}
.box {
  margin-top: 10px;
  display: flex;
}
.img {
  flex: 0 0 auto;
  height: 188px;
  width: 150px;
}
.img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.info {
  flex: 1 1 auto;
  text-align: left;
  padding: 0 0px 0 10px;
}
.textBold {
  font-weight: bold;
}
.pages {
  display: flex;
  justify-content: space-between;
}
.status {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.authors {
  margin-top: 10px;
}
.categories {
}
.categoriesList{
  display: block;
}
.date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shortDescription {
  margin-top: 10px;
  text-align: justify;
}
