.header {
  position: fixed;
  left: 0;
  width: 100%;
  margin-bottom: 10px;

}
.container{
  padding: 5px 10px;
  background: #4e4e4e;
  border-radius: 10px;
  max-width: 1216px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.list {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}
.navLink {
  color: white;
  &:hover {
    color: #014c56;
  }
}
.activeLink {
  color: #00b4cc;
  &:hover {
    color: #04d1ec;
  }
  
}
