.categories{
  margin-top: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  //flex-direction: column;
}
.label{
  user-select: none; 
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  // border-bottom: 1px solid #8d8b8b;
}
.input{
  margin-right: 10px;
}
.error{
  font-size: 12px;
  top: -14px;
  right: 50%;
  transform: translate(50%,0%);
  position: absolute;
  color: red;
}